#main-detail-content-area{
  position: relative;
  margin-top: 1rem;
  margin-bottom: 1.5rem;
  @include media-breakpoint-between(md, lg){
    padding-top: 2rem;
  }
  @include media-breakpoint-up(lg){
    padding-top: 2.5rem;
  }
  .accordion{
    border: 0 !important;
    border-radius: 0 !important;
    .accordion-item{
      border-radius: 0;
      border: 0;
      border-top: 2px solid $primary_color_orange;
      background-color: transparent;
      @include media-breakpoint-between(md, lg){
        padding: 0.8rem 0;
      }
      @include media-breakpoint-up(lg){
        padding: 0.9rem 0;
      }
      .accordion-header{
        text-transform: capitalize;
        color: $primary_color_black;
        overflow: inherit !important;
        font-weight: 600;
        button.accordion-button{
          background-color: transparent;
          border: 0;
          border-radius: 0;
          font-weight: 500;
          color: $primary_color_black;
          box-shadow: none !important;
          &:after{
            z-index: 99;
          }
          @include media-breakpoint-between(md, lg){
            font-size: 1.3rem;
          }
          @include media-breakpoint-up(lg){
            font-size: 1.5rem;
          }
          &:focus-visible{
            outline: none;
          }
        }
      }
      .accordion-body{
        position: relative;
        padding: 0.5rem 1.25rem;
        color: $primary_color_black;
        header.accord-header-area{
          margin-top: -3rem;
          padding-bottom: 1rem;
        }
        .about-inner-content{
          @include media-breakpoint-up(lg){
            text-align: center;
          }
          header.accord-header-area{
            margin-top: -3.8rem;
            h1{
              color: $primary_color_black;
            }
          }
          p{
            .read-link{
              margin-top: 0.3rem;
            }
          }
          .read_div{
            //margin-top: -2.5rem;
          }
        }
        .smart-healthy--new-section{
          background-color: $primary_color_gray;
          header.accord-header-area{
            padding-top: 1rem;
            @include media-breakpoint-up(lg){
              text-align: center;
              padding-top: 3.5rem;
              padding-bottom: 0rem;
            }
            h1{
              color: $primary_color_black;
            }
          }
          .smart-healthy-new-component{
            position: relative;
            .smart-healthy-new-component-content{
              display: flex;
              flex-flow: column;
              justify-content: space-between;
              padding: 1rem 0;
              @include media-breakpoint-up(lg){
                flex-flow: row;
                justify-content: space-between;
                align-content: baseline;
                align-items: flex-start;
                width: 100%;
              }
              .smart-healthy-new-component-left{
                padding: 1rem 0;
                @include media-breakpoint-down(lg){
                  order: 2;
                }
                @include media-breakpoint-between(lg, xl){
                  width: 20%;
                }

                @include media-breakpoint-up(xl){
                  width: 25%;
                  display: block;
                  margin: 0 auto;
                }
                img{
                  object-fit: contain;
                  height: 7.5rem;
                  @include media-breakpoint-up(xl){
                    height: 10rem;
                    display: block;
                    margin: 0 0 0 52px;
                  }
                }
              }
              .smart-healthy-new-component-right{
                @include media-breakpoint-between(lg, xl){
                  width: 80%;
                }
                @include media-breakpoint-up(xl){
                  width: 75%;
                  padding-right: 2rem;
                }
                @include media-breakpoint-up(lg){
                  display: flex;
                  flex-flow: row;
                  justify-content: space-between;
                  align-content: flex-start;
                  align-items: flex-start;
                }
                @include media-breakpoint-between(lg, xl){
                  width: 100%;
                }
                ul{
                  margin: 0.5rem 0 0.5rem 0;
                  padding-left: 1rem;
                  li{
                    font-weight: normal;
                  }
                }
                .smart-healthy-new-component-right-content-left{
                  position: relative;
                  .smart-features-items{
                    @include media-breakpoint-up(lg){
                      padding-bottom: 1rem;
                    }
                    h6{
                      @include media-breakpoint-up(lg){
                        margin-bottom: 0.9rem;
                      }
                    }
                  }
                }
              }
            }
          }
          .learn-more-cta{
            position: relative;
            padding: 1rem 0;
            @include media-breakpoint-up(lg){
              padding: 0;
              padding-left: 9rem;
              padding-bottom: 2rem;
            }
            @include media-breakpoint-up(xl){
              padding: 0;
              padding-bottom: 2rem;
              margin-left: 19rem;
            }
            a{
              outline: none;
              text-decoration: none;
              background-color: $primary_color_black;
              display: block;
              text-transform: uppercase;
              font-weight: 600;
              letter-spacing: 0.1em;
              border-radius: 32px;
              height: 3.75rem;
              width: 17.625rem;
              text-align: center;
              line-height: 3.75rem;
              color: $primary_color_white;
              &:hover{
                background-color: $primary_color_orange;
                color: $primary_color_black;
              }
            }
          }
        }
      }
    }
    .smart-features-accordion{
      .accordion-body{
        background-color: $primary_color_gray;
        header.accord-header-area-smart{
          padding-top: 1.5rem;
          @include media-breakpoint-up(lg){
            text-align: center;
            padding-top: 3.5rem;
            padding-bottom: 0rem;
          }
          h1{
            color: $primary_color_black;
          }
        }
        .smart-healthy-new-component{
          position: relative;
          .smart-healthy-new-component-content{
            display: flex;
            flex-flow: column;
            justify-content: space-between;
            padding: 1rem 0;
            @include media-breakpoint-up(lg){
              flex-flow: row;
              justify-content: space-between;
              align-content: baseline;
              align-items: flex-start;
              width: 100%;
            }
            .smart-healthy-new-component-left{
              padding: 1rem 0;
              @include media-breakpoint-down(lg){
                order: 2;
              }
              @include media-breakpoint-between(lg, xl){
                width: 20%;
              }

              @include media-breakpoint-up(xl){
                width: 25%;
                display: block;
                margin: 0 auto;
              }
              img{
                object-fit: contain;
                height: 7.5rem;
                @include media-breakpoint-up(xl){
                  height: 10rem;
                  display: block;
                  margin: 0 0 0 52px;
                }
              }
            }
            .smart-healthy-new-component-right{
              @include media-breakpoint-between(lg, xl){
                width: 80%;
              }
              @include media-breakpoint-up(xl){
                width: 75%;
                padding-right: 2rem;
              }
              @include media-breakpoint-up(lg){
                display: flex;
                flex-flow: row;
                justify-content: space-between;
                align-content: flex-start;
                align-items: flex-start;
              }
              @include media-breakpoint-between(lg, xl){
                width: 100%;
              }
              ul{
                margin: 0.5rem 0 0.5rem 0;
                padding-left: 1rem;
                li{
                  font-weight: normal;
                }
              }
              .smart-healthy-new-component-right-content-left{
                position: relative;
                .smart-features-items{
                  @include media-breakpoint-up(lg){
                    padding-bottom: 1rem;
                  }
                  h6{
                    @include media-breakpoint-up(lg){
                      margin-bottom: 0.9rem;
                    }
                  }
                }
              }
            }
          }
        }
        .learn-more-cta{
          position: relative;
          padding: 1rem 0;
          @include media-breakpoint-up(lg){
            padding: 0;
            padding-left: 9rem;
            padding-bottom: 2rem;
          }
          @include media-breakpoint-up(xl){
            padding: 0;
            padding-bottom: 2rem;
            margin-left: 19rem;
          }
          a{
            outline: none;
            text-decoration: none;
            background-color: $primary_color_black;
            display: block;
            text-transform: uppercase;
            font-weight: 600;
            letter-spacing: 0.1em;
            border-radius: 32px;
            height: 3.75rem;
            width: 17.625rem;
            text-align: center;
            line-height: 3.75rem;
            color: $primary_color_white;
            &:hover{
              background-color: $primary_color_orange;
              color: $primary_color_black;
            }
          }
        }
      }
    }
    .available-homes{
      position: relative;
      .accordion-body{
        @include media-breakpoint-up(lg){
          padding: 0.5rem 0;
        }
        .accord-header-area{
          padding-bottom: 1rem;
          @include media-breakpoint-up(lg){
            text-align: center;
            padding-bottom: 1rem;
          }

        }
        .splide{
          padding-bottom: 1.5rem;
          .splide__arrows{
            .splide__arrow svg{
              fill: $primary_color_orange;
            }
          }
          ul.splide__pagination{
            li{
              button.splide__pagination__page{
                border: 0.5px solid $primary_color_black;
                background: $primary_color_black;
              }
              button.is-active{
                border-color: $primary_color_orange;
                background: $primary_color_orange;
              }
            }
          }
          ul.splide__list{
            li.is-active{
              margin-left: 3px;
            }
            li{
              @include media-breakpoint-up(lg){
                padding-right: 5px;
                &:first-child{
                  padding-right: 5px;
                }
                &:last-child{
                  padding-right: 0;
                }
              }
              .card{
                border-radius: 0;
                background: $primary_color_white;
                box-shadow: 0px 3px 10px rgb(0 0 0 / 16%);
                position: relative;
                overflow: hidden;
                border: 0.5px solid $primary_color_gray;
                margin-bottom: 1rem;
                @include media-breakpoint-down(sm){
                  height: 30rem;
                }
                @include media-breakpoint-between(lg, xl){
                  height: 31rem;
                }
                @include media-breakpoint-up(xl){
                  height: 30rem;
                }
                a{
                  transition-property: background-color;
                  transition-duration: 1s;
                  transition-timing-function: linear;
                  display: block;
                  outline: none;
                  text-decoration: none;
                  position: relative;
                  @include media-breakpoint-down(sm){
                    height: 26rem;
                  }
                  @include media-breakpoint-between(lg, xl){
                    height: 31rem;
                  }
                  @include media-breakpoint-up(xl){
                    height: 30rem;
                  }
                  &:hover{
                    border-bottom: 5px solid #fc4f00;
                    transition: 0.4s ease-in-out;
                    overflow: hidden;
                  }
                  color: $primary_color_black;
                  .featured-home-announcement-card-banner{
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    width: 100%;
                    overflow: hidden;
                    z-index: 1;
                    background-color: $primary_color_orange;
                    height: 42px;
                    display: flex;
                    flex-flow: column;
                    justify-content: center;
                    align-items: center;
                    align-content: center;
                    span{
                      display: block;
                      color: $primary_color_white;
                      letter-spacing: 0.1em;
                      text-align: center;
                      font-weight: 400;
                    }
                  }
                  .card-container{
                    position: relative;
                    .featured-home-card-header{
                      .card-img{
                        position: relative;
                        img{
                          object-fit: cover;
                          height: 17.3rem;
                          @include media-breakpoint-up(xl){
                            height: 17.8rem;
                          }
                        }
                      }
                    }
                    .card-body{
                      .card-body-title-price-area{
                        display: flex;
                        flex-flow: row;
                        justify-content: space-between;
                        align-content: center;
                        align-items: center;
                        width: 100%;
                        .card-title-area{
                          text-align: left;
                          width: 70%;
                          h6{
                            text-transform: capitalize;
                            //font-weight: 600;
                            margin-bottom: 0;
                            //@include media-breakpoint-between(sm, md){
                            //  font-size: 0.90rem;
                            //}
                            //@include media-breakpoint-between(md, lg){
                            //  font-size: 0.92rem;
                            //}
                            //@include media-breakpoint-between(lg, xl){
                            //  font-size: 0.80rem;
                            //}
                            //@include media-breakpoint-up(xl){
                            //  font-size: 1rem;
                            //}
                          }
                          span.featured-home-address{
                            //font-size: 0.95rem;
                            //@include media-breakpoint-between(lg, xl){
                            //  font-size: 0.85rem;
                            //}
                          }
                        }
                        .featured-home-price{
                          width: 30%;
                          span.call-for-pricing{
                            //font-size: 0.80rem;
                            text-align: right;
                          }
                          span{
                            display: block;
                            color: $primary_color_orange;
                            font-weight: 500;
                            text-transform: uppercase;
                            text-align: right;
                          }
                        }
                      }
                      hr.featured-homes-hr{
                        opacity: 1;
                        //border: 1px solid #707070;
                        height: 2px;
                        background-color: #707070;
                        border-radius: 20px;
                      }
                      .card-body-homes-spec{
                        padding-top: 0.6rem;
                        ul{
                          list-style: none;
                          margin: 0;
                          padding: 0 2rem;
                          display: flex;
                          flex-flow: row;
                          justify-content: space-between;
                          align-items: center;
                          align-content: center;
                          li{
                            display: flex;
                            flex-flow: column;
                            justify-content: center;
                            align-content: center;
                            align-items: center;
                            color: $primary_color_black;
                            span.spec-name{
                              color: $primary_color_orange;
                              text-transform: uppercase;
                              font-weight: 600;
                              text-align: center;
                            }
                            span.spec-data{
                              display: block;
                              text-align: center;
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
    .available-floorplans{
      .accordion-body{
        .splide{
          padding-bottom: 1.5rem;
          .splide__arrows{
            .splide__arrow svg{
              fill: $primary_color_orange;
            }
          }
          ul.splide__pagination{
            li{
              button.splide__pagination__page{
                border: 0.5px solid $primary_color_black;
                background: $primary_color_black;
              }
              button.is-active{
                border-color: $primary_color_orange;
                background: $primary_color_orange;
              }
            }
          }
          ul.splide__list{
            li.is-active{
              margin-left: 3px;
            }
            li{
              @include media-breakpoint-up(lg){
                padding-right: 3px;
                &:first-child{
                  padding-right: 5px;
                }
                &:last-child{
                  padding-right: 0;
                }
              }
              .card{
                border-radius: 0;
                background: $primary_color_white;
                box-shadow: 0px 3px 10px rgb(0 0 0 / 16%);
                position: relative;
                overflow: hidden;
                border: 0.5px solid $primary_color_gray;
                margin-bottom: 1rem;
                @include media-breakpoint-down(sm){
                  height: 30rem;
                }
                @include media-breakpoint-between(lg, xl){
                  height: 31rem;
                }
                @include media-breakpoint-up(xl){
                  height: 30rem;
                }
                a{
                  transition-property: background-color;
                  transition-duration: 1s;
                  transition-timing-function: linear;
                  display: block;
                  outline: none;
                  text-decoration: none;
                  position: relative;
                  @include media-breakpoint-down(sm){
                    height: 26rem;
                  }
                  @include media-breakpoint-between(lg, xl){
                    height: 31rem;
                  }
                  @include media-breakpoint-up(xl){
                    height: 30rem;
                  }
                  &:hover{
                    border-bottom: 5px solid #fc4f00;
                    transition: 0.4s ease-in-out;
                    overflow: hidden;
                  }
                  color: $primary_color_black;
                  .featured-home-announcement-card-banner{
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    width: 100%;
                    overflow: hidden;
                    z-index: 1;
                    background-color: $primary_color_orange;
                    height: 42px;
                    display: flex;
                    flex-flow: column;
                    justify-content: center;
                    align-items: center;
                    align-content: center;
                    span{
                      display: block;
                      color: $primary_color_white;
                      letter-spacing: 0.1em;
                      text-align: center;
                      font-weight: 400;
                    }
                  }
                  .card-container{
                    position: relative;
                    .featured-home-card-header{
                      .card-img{
                        position: relative;
                        img{
                          object-fit: cover;
                          height: 17.3rem;
                          @include media-breakpoint-up(xl){
                            height: 17.8rem;
                          }
                        }
                      }
                    }
                    .card-body{
                      .card-body-title-price-area{
                        display: flex;
                        flex-flow: row;
                        justify-content: space-between;
                        align-content: center;
                        align-items: center;
                        width: 100%;
                        .card-title-area{
                          text-align: left;
                          width: 70%;
                          h6{
                            text-transform: capitalize;
                            //font-weight: 600;
                            margin-bottom: 0;
                            //@include media-breakpoint-between(sm, md){
                            //  font-size: 0.90rem;
                            //}
                            //@include media-breakpoint-between(md, lg){
                            //  font-size: 0.92rem;
                            //}
                            //@include media-breakpoint-between(lg, xl){
                            //  font-size: 0.80rem;
                            //}
                            //@include media-breakpoint-up(xl){
                            //  font-size: 1rem;
                            //}
                          }
                          span.featured-home-address{
                            //font-size: 0.95rem;
                            //@include media-breakpoint-between(lg, xl){
                            //  font-size: 0.85rem;
                            //}
                          }
                        }
                        .featured-home-price{
                          width: 30%;
                          span.call-for-pricing{
                            //font-size: 0.80rem;
                            text-align: right;
                          }
                          span{
                            display: block;
                            color: $primary_color_orange;
                            font-weight: 500;
                            text-transform: uppercase;
                            text-align: right;
                          }
                        }
                      }
                      hr.featured-homes-hr{
                        opacity: 1;
                        //border: 1px solid #707070;
                        height: 2px;
                        background-color: #707070;
                        border-radius: 20px;
                      }
                      .card-body-homes-spec{
                        padding-top: 0.6rem;
                        ul{
                          list-style: none;
                          margin: 0;
                          padding: 0 2rem;
                          display: flex;
                          flex-flow: row;
                          justify-content: space-between;
                          align-items: center;
                          align-content: center;
                          li{
                            display: flex;
                            flex-flow: column;
                            justify-content: center;
                            align-content: center;
                            align-items: center;
                            color: $primary_color_black;
                            span.spec-name{
                              color: $primary_color_orange;
                              text-transform: uppercase;
                              font-weight: 600;
                              text-align: center;
                            }
                            span.spec-data{
                              display: block;
                              text-align: center;
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
          .card{
            border: none;
            box-shadow: 0 3px 10px rgb(0 0 0 / 16%);
            position: relative;
            overflow: hidden;
            border: 0;
            margin-bottom: 1rem;
            &:hover{
              border-bottom: 5px solid $primary_color_orange;
              transition: 0.4s ease-in-out;
              overflow: hidden;
            }
            a{
              display: block;
              outline: none;
              color: $primary_color_black;
              text-decoration: none;
              .card-inner{
                height: 434px;
                .card-banner-announcement{
                  position: absolute;
                  top: 0;
                  left: 0;
                  right: 0;
                  width: 100%;
                  overflow: hidden;
                  z-index: 1;
                  background-color: $primary_color_orange;
                  height: 38px;
                  display: flex;
                  flex-flow: column;
                  justify-content: center;
                  align-items: center;
                  align-content: center;
                  span{
                    display: block;
                    color: $primary_color_white;
                    letter-spacing: 0.2em;
                    text-align: center;
                    font-weight: 400;
                    text-transform: uppercase;
                    font-size: 1rem;
                  }
                }
                .card-img{
                  .splide{
                    .splide__list{
                      .splide__slide{
                        img{
                          object-fit: cover;
                          //height: 230px;
                        }
                      }
                    }
                  }
                  position: relative;
                  img{
                    object-fit: cover;
                    height: 15.5rem;
                    width: 100vw;
                  }
                }
                .card-body{
                  a.inner-body{
                    display: block;
                    text-decoration: none;
                    outline: none;
                    height: 100%;
                    color: $primary_color_black;
                  }
                  position: relative;
                  padding-top: 1rem;
                  display: block;
                  .card-body-top{
                    .card-body-top-inner{
                      display: flex;
                      flex-flow: row;
                      justify-content: space-between;
                      align-items: center;
                      align-content: center;
                      width: 100%;
                      .card-body-title-area{
                        display: flex;
                        flex-flow: column;
                        text-align: left;
                        justify-content: flex-start;
                        align-content: flex-start;
                        width: 70%;
                        span.card-body-title{
                          display: block;
                          text-transform: capitalize;
                          font-weight: 500;
                          font-size: 90%;
                        }
                        span.card-body-location{
                          //font-size: 85%;
                          white-space: nowrap;
                        }
                      }
                      .card-body-price-area{
                        display: flex;
                        flex-flow: column;
                        justify-content: space-between;
                        align-content: flex-end;
                        width: 30%;
                        .card-body-price-label{
                          display: block;
                          text-transform: uppercase;
                          font-weight: 500;
                          text-align: right;
                          font-family: $font__main;
                        }
                        span.card-body-price{
                          display: block;
                          color: $primary_color_orange;
                          font-weight: 500;
                          text-align: right;
                        }
                        span.call-for-price{
                          display: block;
                          color: #fc4f00;
                          text-transform: uppercase;
                          text-align: right;
                          font-size: 78%;
                          line-height: 20px;
                        }
                      }
                    }
                  }
                  hr.listing-spec-hr{
                    opacity: 1;
                    background-color: #707070;
                    height: 1.5px;
                  }
                  .card-body-bottom{
                    display: flex;
                    flex-flow: row;
                    justify-content: space-around;
                    align-content: center;
                    align-items: center;
                    width: 100%;
                    .card-body-bottom-spec{
                      display: flex;
                      flex-flow: column;
                      justify-content: space-between;
                      align-content: center;
                      align-items: center;
                      span.card-body-bottom-label{
                        display: block;
                        color: $primary_color_orange;
                        text-transform: uppercase;
                      }
                      span.card-body-bottom-data{
                        display: block;
                        font-weight: 400;
                      }
                    }
                  }
                }
              }
              .card-body{
                .inner-body{
                  .home_design{
                    span.card-body-title{
                      a{
                        color: $primary_color_black;
                        text-transform: capitalize;
                        font-size: 1.1rem;
                        text-decoration: none;
                        outline: none;
                        &:hover{
                          color: $primary_color_orange;
                        }
                      }
                    }
                    .community-dropdown{
                      position: relative;
                      .dropdown{
                        position: static;
                        a{
                          color: $primary_color_orange;
                          outline: none;
                          text-decoration: none;
                          text-transform: uppercase;
                          cursor: pointer;
                          letter-spacing: 0.3px;
                          font-weight: 500;
                        }
                        ul{
                          border-radius: 0;
                          border: 0;
                          li{
                            margin-bottom: 0.3rem;
                            &:last-child{
                              margin-bottom: 0;
                            }
                            a{
                              color: $primary_color_black;
                              //font-size: 90%;
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
        .homes-floorplan-gallery{
          ul{
            list-style: none;
            margin: 0;
            padding: 0;
            display: flex;
            flex-flow: row;
            justify-content: center;
            flex-wrap: wrap;
            li{
              width: 33.333%;
              figure{
                img{
                  //width: 100%;
                  //object-fit: cover;
                  //height: 10rem;
                }
              }
            }
          }
        }
        .component-btn-area{
          padding-bottom: 2rem;
          padding-top: 1rem;
          text-align: center;
          a.personalize-btn{
            border-radius: 30px;
            background-color: $primary_color_black;
            padding: 0.7rem 0.9rem;
            color: $primary_color_white;
            outline: none;
            text-decoration: none;
            text-transform: uppercase;
            &:hover{
              background-color: $primary_color_orange;
            }
          }
        }
      }
    }




    .community-video{
      position: relative;
      .accordion-body{
        header.accord-header-area{
          @include media-breakpoint-up(lg){
            text-align: center;
            padding-bottom: 1rem;
          }
        }
        section.video-component{
          position: relative;
          padding: 1rem 0;
          #community_video-component{
            position: relative;
            a{
              position: relative;
              outline: none;
              display: block;
              text-decoration: none;
              overflow: hidden;
              width: 100%;
              color: $primary_color_white;
              @include media-breakpoint-between(lg, xl){
                height: 350px;
              }
              @include media-breakpoint-up(xl){
                height: 450px;
              }
              img{
                object-fit: cover;
                width: 100vw;
                transition: transform .5s ease;
                @include media-breakpoint-up(xl){
                  height: 450px;
                }
                &:hover{
                  transform: scale(1.5);
                }
              }
              .overlay-area{
                background: rgba(0,0,0,0.3);
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                height: 100%;
                width: 100%;
                z-index: 1;
                overflow: hidden;
                flex-flow: column;
                justify-content: center;
                align-items: center;
                align-content: center;
                opacity: 1;
                @include media-breakpoint-down(lg){
                  opacity: 1;
                  background: rgba(0,0,0,0.6);
                }
                span.overlay-title{
                  text-align: center;
                  text-transform: uppercase;
                  font-weight: 600;
                  white-space: pre-wrap;
                  font-size: 80%;
                  color: #fff;
                  height: 100%;
                  display: flex;
                  flex-flow: column;
                  justify-content: center;
                  align-content: center;
                  align-items: center;
                  .far{
                    text-align: center;
                    color: $primary_color_white;
                    font-size: 3.5rem;
                    @include media-breakpoint-up(lg){
                      font-size: 4.5rem;
                    }
                    &:hover{
                      color: $primary_color_orange;
                    }
                  }
                }
              }
              &:hover{
                .overlay-area{
                  opacity: 1;
                }
                img{
                  transform: scale(1.5);
                }
              }
            }
          }
        }
      }
    }
    .community-lot{
      .accordion-body{
        header.accord-header-area{
          @include media-breakpoint-up(lg){
            text-align: center;
            padding-bottom: 1rem;
          }
        }
        .community_map-component{
          position: relative;
          margin-bottom: 1rem;
          a{
            position: relative;
            outline: none;
            display: block;
            text-decoration: none;
            overflow: hidden;
            width: 100%;
            color: $primary_color_white;
            @include media-breakpoint-between(lg, xl){
              height: 350px;
            }
            @include media-breakpoint-up(xl){
              height: 450px;
            }
            img{
              object-fit: cover;
              width: 100vw;
              transition: transform .5s ease;
              @include media-breakpoint-up(xl){
                height: 450px;
              }
              &:hover{
                transform: scale(1.5);
              }
            }
            .overlay-area{
              background: rgba(0,0,0,0.3);
              position: absolute;
              top: 0;
              left: 0;
              right: 0;
              height: 100%;
              width: 100%;
              z-index: 1;
              overflow: hidden;
              flex-flow: column;
              justify-content: center;
              align-items: center;
              align-content: center;
              opacity: 1;
              @include media-breakpoint-down(lg){
                opacity: 1;
                background: rgba(0,0,0,0.6);
              }
              span.overlay-title{
                text-align: center;
                text-transform: uppercase;
                font-weight: 600;
                white-space: pre-wrap;
                font-size: 80%;
                color: #fff;
                height: 100%;
                display: flex;
                flex-flow: column;
                justify-content: center;
                align-content: center;
                align-items: center;
                @include media-breakpoint-up(lg){
                  font-size: 100%;
                }

              }
            }
            &:hover{
              .overlay-area{
                opacity: 1;
              }
              img{
                transform: scale(1.5);
              }
            }
          }
        }
      }
    }
    .location{
      .accordion-body{
        header.accord-header-area{
          @include media-breakpoint-up(lg){
            text-align: center;
            padding-bottom: 1rem;
          }
        }
        .location-component{
          background-color: $primary_color_gray;
          margin: 0;
          padding: 0;
          position: relative;
          //@include media-breakpoint-between(lg, xl){
          //  min-height: 40.5rem;
          //  max-height: 41rem;
          //}
          .location-component-map{
            //@include media-breakpoint-between(lg, xl){
            //  height: 40.5rem;
            //  max-height: 41rem;
            //}
            //@include media-breakpoint-up(xl){
            //  height: 100%;
            //}
            @include media-breakpoint-up(lg){
              min-height: 500px;
            }
            .acf-map{
              border-radius: 0;
              border: 0;
              margin-top: 0;
              .gm-style-iw-d{
                min-height: auto;
              }
              @include media-breakpoint-up(lg){
                height: 498px;
              }
              @include media-breakpoint-between(lg, xl){
                //height: 100%;
                //max-height: 41rem;
              }
              @include media-breakpoint-up(xl){
                //height: 100%;
              }
            }
          }
          .get-direction-content{
            padding: 2.5rem 2rem;
            @include media-breakpoint-between(lg, xl){
              padding: 0 2rem;
            }
            header.section-header{
              margin-bottom: 0.5rem;
              .inner-header-area{
                margin-right: 1rem;
                display: flex;
                flex-flow: row;
                justify-content: flex-start;
                align-items: center;
                align-content: center;
                span.location-icon{
                  margin-right: 0.4rem;
                  .fas{
                    color: $primary_color_orange;
                    font-size: 1.3rem;
                  }
                }
                h5{
                  color: $primary_color_black;
                  text-transform: uppercase;
                  a{
                    color: $primary_color_orange;
                    text-decoration: none;
                  }
                }
              }
              address{
                margin-left: 0.2rem;
                margin-top: 0.3rem;
              }
            }
            .main-content{
            }
          }
        }
      }
    }
    .elevation-gallery{
      .elevation-gallery-item{
      }
    }
  }


  .available-community-in-floorplan{
    position: relative;
    .available-community-in-floorplan-component{
      border-top: 2px solid $primary_color_orange;
      padding-top: 2rem;
      span.available-community-in-floorplan-component-title{
        display: block;
        color: $primary_color_black;
        font-weight: 500;
        font-size: 1.5rem;
        text-align: center;
        word-wrap: break-word;
        text-transform: uppercase;
        margin-bottom: 1rem;
      }
      .dropdown{
        position: static;
        text-align: center;
        button{
          background-color: transparent;
          border: 2px solid $primary_color_orange;
          color: $primary_color_black;
          font-weight: 500;
          border-radius: 0;
          width: 21rem;
          display: flex;
          flex-flow: row;
          justify-content: space-between;
          align-content: center;
          align-items: center;
          margin: 0 auto;
          &::after{}
        }
        ul{
          overflow: hidden;
          min-width: 6rem;
          border-radius: 0;
          width: 21rem;
          //transform: translate3d(20px, 160px, 0px) !important;
          border-color: $primary_color_orange;
          .show{

          }
          li{
            a{
              display: flex;
              flex-flow: column;
              font-size: 90%;
              color: $primary_color_black;
              span.title{
                color: $primary_color_orange;
                font-weight: 500;
              }
            }
          }
        }
      }
    }
  }
}

//width: 452px;
//height: 50px;
//background: transparent;
//border: 1px solid #fc4f00;


.acf-map {
  width: 100%;
  //height: 400px;
  border: #ccc solid 1px;
  margin: 20px 0;
}

// Fixes potential theme css conflict.
.acf-map img {
  max-width: inherit !important;
}


span.coming-soon-status {
  color: #fff;
  font-size: 1.3rem;
  font-weight: 500;
}