#post-filter{
  //@include media-breakpoint-down(lg){
  //  display: none;
  //}
  background-color: $primary_color_black;
  padding: 1rem 0;
  @include media-breakpoint-down(lg){
    padding: 0;
  }
  .post-filter-inner{
    position: relative;
    .facetwp-facet{
      display: flex;
      flex-flow: row;
      justify-content: space-between;
      align-items: center;
      align-content: center;
      width: 100%;
      height: 1.5rem;
      margin-bottom: 0;
      .facetwp-radio{
        margin-bottom: 0;
        color: $primary_color_white;
        letter-spacing: 0.01em;
        text-align: center;
        text-transform: uppercase;
        font-weight: normal;
        font-family: $font__main !important;
        &:hover{
          color: $primary_color_orange;
        }
        .facetwp-counter{
          display: none;
        }
      }
      .checked{
        color: $primary_color_orange;
      }
    }

    .categories-menu{
      list-style: none;
      margin: 0;
      padding: 0;
      display: flex;
      flex-flow: row;
      justify-content: center;
      align-items: center;
      align-content: center;
      @include media-breakpoint-up(lg){
        li{
          margin-right: 1.5rem;
          &:last-child{
            margin-right: 0;
          }
        }
      }
      @include media-breakpoint-down(lg){
        height: 40px;
      }
      li{

        &:last-child{
          margin-right: 0;
        }
        a{
          color: $primary_color_white;
          outline: none;
          text-decoration: none;
          &:hover{
            color: $primary_color_orange;
            transition: 0.3s;
          }
        }
      }
    }

    @include media-breakpoint-down(lg){
      overflow-x: scroll;
      overflow-y: hidden;
      white-space: nowrap;
      height: 40px;
      width: 100%;
      .facetwp-facet{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        height: 40px;
        .facetwp-radio{
          margin-right: 0.8rem;
          &:last-child{
            margin-right: 0;
          }
        }
      }

      .categories-menu{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        height: 40px;
        li{
          margin-right: 0.9rem;
          &:last-child{
            margin-right: 0;
          }
        }
      }
    }
  }
}

//.sticky {
//  position: fixed;
//  top: 74px;
//  width: 100%;
//  z-index: 1050;
//}
//

