#desktop-cta{
  @include media-breakpoint-down(lg){
    display: none;
  }
  background-color: $primary_color_orange;
  position: fixed;
  left: 0;
  bottom: 12.25rem;
  z-index: 1095;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.16);
  width: 4rem;
  min-height: 11rem;
  ul.desktop-cta-container{
   list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    height: 100%;
    li{
      border-bottom: 2px solid $primary_color_white;
      padding-bottom: 0.4rem;
      padding-top: 0.4rem;
      &:last-child{
        border-bottom: 0;
        padding-bottom: 0;
      }
      &:hover{
        background-color: $primary_color_black;
        transition: 0.3s ease-in-out;
      }
      a{
        display: flex;
        flex-flow: column;
        align-content: center;
        align-items: center;
        justify-content: space-between;
        color: $primary_color_white;
        text-decoration: none;
        outline: none;
        padding-bottom: 0.3rem;
        span{
          display: block;
          .fas{
            font-size: 1.2rem;
          }
        }
        span.title{
          font-size: 90%;
          text-transform: uppercase;
          text-align: center;
        }

      }
    }
    li.phone{
      padding-top: 0.5rem;
    }


    //li{
    // padding-right: 0.9rem;
    //  &:last-child{
    //    padding-right: 0;
    //  }
    //  ul{
    //    list-style: none;
    //    margin: 0;
    //    padding: 0;
    //    display: flex;
    //    flex-flow: column;
    //    justify-content: space-between;
    //    li.desktop-cta-ask{
    //      a{
    //        font-weight: 600;
    //        text-transform: uppercase;
    //        text-align: left;
    //        outline: none;
    //        text-decoration: none;
    //        color: #fff;
    //      }
    //    }
    //    li.desktop-cta-call{
    //      a{
    //        color: #fff;
    //        text-decoration: none;
    //        text-align: left;
    //        font-weight: 200;
    //        outline: none;
    //      }
    //    }
    //  }
    //}
  }
}
