.marker{
  position: relative;
  border: 0;
  border-radius: 0;

}

.gm-style .gm-style-iw-c {
  position: absolute;
  box-sizing: border-box;
  overflow: hidden;
  top: 0;
  left: 0;
  transform: translate3d(-50%,-100%,0);
  background-color: white;
  padding: 0 !important;
  border-radius: 0 !important;
  box-shadow: none !important;
  padding-top: 10px;
  .gm-style-iw-d{
    overflow: hidden !important;
    .card{
      border: none;
      box-shadow: 0 3px 10px rgb(0 0 0 / 16%);
      border-radius: 0;
      &:hover{
        border-bottom: 5px solid $primary_color_orange;
        transition: 0.4s ease-in-out;
        overflow: hidden;
      }
      .card-banner-announcement{
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        width: 100%;
        overflow: hidden;
        z-index: 1;
        background-color: $primary_color_orange;
        min-height: 30px;
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;
        align-content: center;
        span{
          display: block;
          color: $primary_color_white;
          letter-spacing: 0.2em;
          text-align: center;
          font-weight: 400;
          text-transform: uppercase;
          font-size: 90%;
        }
      }
      img{
        object-fit: cover;
        height: 10rem;
        width: 100%;
      }
      .card-body{
        a.inner-body{
          display: block;
          text-decoration: none;
          outline: none;
          height: 100%;
          color: $primary_color_black;
        }
        position: relative;
        padding-top: 1rem;
        display: block;
        .card-body-top{
          .card-body-top-inner{
            display: flex;
            flex-flow: row;
            justify-content: space-between;
            align-items: center;
            align-content: center;
            width: 100%;
            .card-body-title-area{
              display: flex;
              flex-flow: column;
              text-align: left;
              justify-content: flex-start;
              align-content: flex-start;
              width: 70%;
              span.card-body-title{
                display: block;
                text-transform: capitalize;
                font-weight: 500;
                font-size: 90%;
              }
              span.card-body-location{
                //font-size: 85%;
                white-space: nowrap;
              }
            }
            .card-body-price-area{
              display: flex;
              flex-flow: column;
              justify-content: space-between;
              align-content: flex-end;
              width: 30%;
              .card-body-price-label{
                display: block;
                text-transform: uppercase;
                font-weight: 500;
                text-align: right;
                font-family: $font__main;
              }
              span.card-body-price{
                display: block;
                color: $primary_color_orange;
                font-weight: 500;
                text-align: right;
              }
              span.call-for-price{
                display: block;
                color: #fc4f00;
                text-transform: uppercase;
                text-align: right;
                font-size: 78%;
                line-height: 20px;
              }
            }
          }
        }
        hr.listing-spec-hr{
          opacity: 1;
          background-color: #707070;
          height: 1.5px;
        }
        .card-body-bottom{
          display: flex;
          flex-flow: row;
          justify-content: space-around;
          align-content: center;
          align-items: center;
          width: 100%;
          .card-body-bottom-spec{
            display: flex;
            flex-flow: column;
            justify-content: space-between;
            align-content: center;
            align-items: center;
            span.card-body-bottom-label{
              display: block;
              color: $primary_color_orange;
              text-transform: uppercase;
            }
            span.card-body-bottom-data{
              display: block;
              font-weight: 400;
            }
          }
        }
      }
    }

  }
  button.gm-ui-hover-effect{
    background-color: $primary_color_orange;
    color: $primary_color_black !important;
    z-index: 2 !important;
  }
}

button.gm-ui-hover-effect{
  background-color: $primary_color_orange;
  color: $primary_color_black !important;
}