.process-area{
  position: relative;
  margin-top: 1.5rem;
  @include media-breakpoint-up(lg){
    margin-top: 2rem;
  }
  @include media-breakpoint-up(xl){
    margin-top: 6rem;
  }

  @include media-breakpoint-up(xxl){
    margin-top: 3rem;
  }

  .process-section-content{
    background-color: #f6f6f6;
    padding: 2.5rem 1.5rem;
    margin-bottom: 1.5rem;
    @include media-breakpoint-up(lg){
      height: 20.5rem;
    }
    hr.site-hr{
      opacity: 1;
      background-color: $primary_color_black;
      height: 4px;
      width: 130px;
      margin: auto 0 0.9rem 0;
    }
    .icon-steps-area{
      display: flex;
      flex-flow: row;
      justify-content: flex-start;
      align-items: center;
      margin-bottom: 0.8rem;
      position: relative;
      .icon{
        height: 62px;
        width: 62px;
        position: relative;
      }

    }
    .step-title{
      margin-left: 0.5rem;
      span.title{
        display: block;
        text-transform: uppercase;
        letter-spacing: 2px;
        font-weight: 300;
        color: $primary_color_orange;
        font-size: 1.3rem;
      }
    }
    .main-content{
      display: flex;
      flex-flow: column;
      justify-content: space-between;
      align
      h2{
        text-transform: capitalize;
        letter-spacing: 1px;
      }
      a{
        outline: none;
        color: $primary_color_orange;
        text-transform: uppercase;
        font-weight: 400;
        text-decoration: none;
        padding-bottom: 0.5rem;
      }
    }
  }
}