#homepage-banner{
  position: relative;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  background-size: cover;
  height: calc(100vh - 82px);
  min-height: 450px;
  margin-top: 3rem;
  @include media-breakpoint-up(lg){
    height: calc(100vh - 162px);
    min-height: 710px;
    margin-top: 1.9rem;
  }
  @include media-breakpoint-up(xl){
    height: calc(100vh - 52px);
  }
  @include media-breakpoint-between(md, lg){
    height: calc(100vh - 125px);
  }
  .banner-inner{
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    height: 100%;
    @include media-breakpoint-down(md){
      height: calc(100vh - 145px);
    }
    @include media-breakpoint-between(md, lg){
      height: calc(100vh - 260px);
    }

    @include media-breakpoint-up(lg){
      height: calc(100vh - 220px);
    }

    @include media-breakpoint-up(xl){
      height: calc(100vh - 70px);
    }
    .homepage-banner-content{
      padding-top: 1.5rem;
      height: 27rem;
      display: flex;
      flex-flow: column;
      justify-content: flex-start;
      align-content: center;
      align-items: center;
      @include media-breakpoint-between(lg, xl){
        height: 33rem;
        padding-top: 2.9rem;
      }
      @include media-breakpoint-between(xl, xxl){
        height: 35rem;
        padding-top: 2rem;
      }

      @include media-breakpoint-up(xxl){
        height: 33rem;
        padding-top: 2.3rem;
      }
      span.banner-title{
        text-align: center;
        display: block;
        font-size: 1.813rem;
        font-weight: 700;
        text-transform: uppercase;
        color: $primary_color_black;
        @include media-breakpoint-between(md, lg){
          font-size: 2.9rem;
          text-shadow: 0.5px 1px 0 #000;
        }
        @include media-breakpoint-between(lg, xl){
          font-size: 3.5rem;
          text-shadow: 0.5px 1px 0 #000;
        }
        @include media-breakpoint-between(xl, xxl){
          font-size: 4.2rem;
          text-shadow: 0.5px 1px 0 #000;
          margin-bottom: -0.5rem;
        }

        @include media-breakpoint-up(xxl){
          font-size: 4.2rem;
          margin-bottom: -0.7rem;
          text-shadow: 0.5px 1px 0 #000;
        }
      }
      span.banner-subtitle{
        padding: 0.2rem 4rem 0.2rem 4rem;
        display: block;
        color: $primary_color_orange;
        font-size: 1.125rem;
        text-align: center;
        font-weight: 500;
        text-shadow: 0.5px 1px 0 #000;
        font-family: $font__main;
        @include media-breakpoint-between(md, lg){
          font-size: 1.3rem;
          text-shadow: 0.5px 1px 0 #000;
        }
        @include media-breakpoint-between(lg, xl){
          font-size: 1.4rem;
          padding: 0 4rem 0.2rem 4rem;
        }
        @include media-breakpoint-up(xl){
          font-size: 1.8rem;
          padding: 0 4rem 0.2rem 4rem;
        }

        @include media-breakpoint-up(xxl){
          font-size: 1.9rem;
          padding: 0 4rem 0.2rem 4rem;
        }

      }
      a.homepage-banner-btn{
        margin: 0.2rem 0;
        background-color: $primary_color_black;
        border-radius: 1.563rem;
        display: block;
        text-align: center;
        height: 3.125rem;
        width: 14.25rem;
        line-height: 3.125rem;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        color: $primary_color_white;
        text-decoration: none;
        outline: none;
        font-size: 0.90rem;
        &:hover{
          background-color: $primary_color_orange;
          transition: 0.3s ease-in-out;
        }
      }
    }
    .homepage-banner-logo{
      text-align: right;
      padding-right: 1.6rem;
      @include media-breakpoint-up(lg){
        text-align: left;
        padding-left: 2rem;
      }
      img{
        object-fit: cover;
        width: 7rem;
        @include media-breakpoint-between(md, lg){
          width: 8rem;
        }
        @include media-breakpoint-up(lg){
          width: 8rem;
        }
        @include media-breakpoint-up(xl){
          //width: 9rem;
        }
      }
    }
  }
}
